html, body {
    overflow-x: hidden; 
  }
  
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    background-color: rgb(30, 30, 30);
    color: rgba(255, 242, 223, 0.922);
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-inline-size: 100%;
    display: block;
}

header h1 {
    margin: 2rem 2rem 2rem 2rem;
    border: hidden 0.5rem;
    padding: 2rem;
    font-size: 5rem;
    display: inline-block;
    line-height: 1.1;
    background: linear-gradient(45deg, rgba(255, 242, 223, 0.922), rgba(2, 175, 181, 0.922));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header h2 {
    border: solid 0.1rem lightblue;
    width: 60%;
    height: 0.1rem;
    font-size: 1px;
    margin-top: 5rem;
}
/* Need to work on the pics and description such that it warps onto the next line and works seemlessly on mobile */
.pics{
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5rem;
    width: 50%;
    margin: -14rem -4rem 0rem 0rem;
}
.pics .Socials{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    gap: 1rem;
}
.pics .myImagee{
    display: flex;
    justify-content: center;
}
.intro{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.selfImage{
    width: 50%;
    height: 60%;
    border: .2rem solid rgba(2, 175, 181, 0.688);
    box-shadow: 0 4px 20px rgb(0, 0, 0);
    border-radius: 100%;
}

.selfImage {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
.selfImage:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgba(0,0,0,0.6);
}

.resume-link {
    display: flex;         
    align-items: center;       
    gap: 0.5rem;                    
  
    border: 0.2rem solid rgba(2, 175, 181, 0.922);
    padding: 0.3rem 1rem;          

    text-decoration: none;
    color: inherit;             

    transition: transform 0.2s;
}

.resumePic {
    width: 1.2rem;
    height: auto;
}

.resume-link .resume-text {
    font-size: 1.7rem;
    line-height: 1;
}

.linkedin {
    width: 2.5rem;
    height: 2.5rem;
}

.description{
    margin: 7rem 0rem 4rem 4rem;

}
.description h3 {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: left;
    width: 41rem;
}

#projects {
    margin-top: 11rem;
    margin-left: 2rem;
    padding: 2rem;
    font-size: 1.3rem;
    line-height: 1.6;
}

#projects h3 {
    text-align: center;
    font-size: 2.5rem;
    border: solid rgba(38, 38, 38, 0.36);
    background-color: rgba(38, 38, 38, 0.36);
}

.allProjects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ProjectOne {
    padding: 1rem;
    margin: 1rem;
    border: ridge 0.2rem rgba(2, 175, 181, 0.922);
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ProjectOneList {
    padding-left: 40px;
}

.ProjectOne:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0,0,0,0.6);
}

.ProjectTwo {
    padding: 1rem;
    margin: 1rem;
    border: ridge 0.2rem rgba(2, 175, 181, 0.922);
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ProjectTwoList{
    padding-left: 40px;
}

.ProjectTwo:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0,0,0,0.6);
}

.ProjectThree {
    padding: 1rem;
    margin: 1rem;
    border: ridge 0.2rem rgba(2, 175, 181, 0.922);
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ProjectThreeList{
    padding-left: 40px;
}

.ProjectThree:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0,0,0,0.6);
}

.ProjectFour {
    padding: 1rem;
    margin: 1rem;
    border: ridge 0.2rem rgba(2, 175, 181, 0.922);
    display: inline-block;
}

.ProjectFourList{
    padding-left: 40px;
}

.ProjectThree:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0,0,0,0.6);
}

.ProjectThree {
    transition: transform 0.4s ease, box-shadow 0.3s ease;
}

#Experience {
    margin-top: 12rem;
    margin-left: 2rem;
    padding: 2rem;
    font-size: 1.3rem;
    line-height: 1.6;
}

#Experience h3 {
    text-align: center;
    font-size: 2.5rem;
    border: solid rgba(38, 38, 38, 0.36);
    background-color: rgba(38, 38, 38, 0.36);
}
